<h1> Individual Message </h1>

 Requested Ride ID: <%= @requested_route.requested_ride_id %><br>
 Request ID: <%= @requested_route.id %><br>
 Requestor ID: <%= @requested_route.requestor_id %><br>
 Description: <%= @requested_route.description %>

 <form action="/message/<%=@requested_route.id %>" method="post">
  <input type="submit" value="Accept" name="accept">
  <input type="submit" value="Decline" name="decline">
 </form>
