<center><h1> Messages </h1></center>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <%if @all_requests == {}%>
      <p>No Messages!</p>
      <%else%>

        <% @all_requests.keys.each do |trip|%>
        <div class="list-group">
        <a href="/ride/<%=trip.id%>" class="list-group-item active trip-message-header">
          <strong><%=trip.origin%></strong> >> <strong><%=trip.destination%></strong> <span class="badge pull-right"><%=trip.seat_openings%> seats left</span>
        </a>
        <% @all_requests[trip].each do |pair|%>
        <a href="/message/<%=pair[0].id%>" class="list-group-item trip-message-item"><%=pair[1].name%></a>
        <% end %>
        </div>
        <% end %>

      <%end%>
    </div>

    <div class="col-sm-3">
      <div class="row">
      <div class="col-sm-6">
        <a href="#" class="thumbnail">
          <img src="https://secure.gravatar.com/avatar/cbd5e1e8244bf14597c017b1e0d1811d.png?r=PG&d=mm&s=150" alt="Driver Profile">
        </a>
      </div>
      <div class="col-sm-6">
        <h4>Driver</h4>
        <h5><%=@driver.name%></h5>
        <h5><%=@driver.username%></h5>
      </div>
    </div>
    </div>
  </div>
</div>




