<h1>Ride homepage</h1>

<% @rides.each do |ride| %>
  <a href="/ride/<%= ride.id%>">
    From: <%= ride.origin %><br>
    To: <%= ride.destination %><br>
    Seat Openings: <%= ride.seat_openings %><br>
    Price: $<%= ride.price %><br><br>
  </a>
<% end %>



