<h1>Ride homepage</h1>

<% @rides.each do |ride| %>
  <a href="/ride/<%= ride.id%>">
    From: <%= ride.origin %><br>
    To: <%= ride.destination %><br>
    Seat Openings: <%= ride.seat_openings %><br>
    Price: $<%= "#{ride.price.to_s[0..-3]}.#{ride.price.to_s[-2..-1]}" %><br><br>
  </a>
<% end %>



