
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @ride.origin %> to <%= @ride.destination %></h3>
        </div>
        <div class="panel-body">
          <h5>
            I am going to leave <%= @ride.origin %> at <%= @ride.start_time.strftime("%h %d %Y at %I:00 %P") %>.
          </h5>
          <br>
          <h5>
            <strong><span class="badge"><%= @ride.seat_openings %></span></strong> seats left!
          </h5>
          <div>
            <iframe
            width="100%"
            height="250"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDoECvxb0ZAcfNayHzYPSuJqHc31RNqg7M&origin=<%=mapify(@ride.origin)%>&destination=<%=mapify(@ride.destination)%>&avoid=tolls|highways">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-6">
        <a href="#" class="thumbnail">
          <img src="https://secure.gravatar.com/avatar/cbd5e1e8244bf14597c017b1e0d1811d.png?r=PG&d=mm&s=150" alt="Driver Profile">
        </a>
      </div>
      <div class="col-sm-6">
        <h4>Driver</h4>
        <h5><%=@driver.name%></h5>
        <h5><span class="badge"><%=@driver_rides_count%></span> rides given</h5>
      </div>
      <div class="col-sm-12">
        <form action='/ride/success' method='POST'>
          <input type="hidden" name="id" value="<%=@ride.id%>">
          <textarea class="form-control" rows="5" name="description" placeholder="Lemme ghost ride yo' whip!.."></textarea>
          <!-- <input type='submit' value='Request a Ride' class="request-ride"> -->
          <br>
          <center><button type="submit" class="btn btn-success">Send Request</button></center>
        </form>
      </div>
    </div>
  </div>
</div>





